    @font-face {
    font-family: Roboto-Regular, sans-serif;
    src: url('Fonts/Roboto-Regular.ttf')
    }

    body {
        background-color: #C9D5DA;
        font-family: Roboto-Regular, sans-serif;
        padding: 50px;
    }
    
    .MainPage{
        font-family: Roboto-Regular, sans-serif;
        color: white;
        font-size: 20px;
        background-color: #1e2d3d;
        padding: 8px;
        text-decoration: none;
        border-radius: 20px;
        left: 870px;
    }
    
    .pagelink{
        display: flex;
        align-items: center;
    }
    
    .MainPage .pagelink {
        padding: 20px 0;
    }
    
    
    .logo {
        width: 50px;
        height: 50px;
    }
    
    .head{
        border-bottom: solid 3px #1e3a3d;
    }

    .lodash{
        border-bottom: 3px solid #8AD0FF;
        padding: 0;
        margin-bottom: 12px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        page-break-inside: avoid;
      }
      
      .sheet{
        background: #8AD0FF;
        text-align: left;
        padding: 6px 8px;
        margin: 0;
        border-bottom: 50px solid #8AD0FF;
        color: #46473b;
      }
      
      .block{
        background: #f0f2e6;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      

    footer {
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        border: 2px solid #1e2a3dbe;
        border-radius: 20px;
        text-align: center;
        padding: 20px;
      }
    
      .HexCool {
        color: #3b4263;
        font-size: 25px;
        font-weight: bold;
    
      }
      
      .centered-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }
      
      .footer-text {
        color:#40543d;
        font-size: 15px;
      }
    
      .logo_footer {
        position: relative; 
        width: 25px;
        height: 25px;
      }