@font-face {
    font-family: Roboto-Regular, sans-serif;
    src: url('Fonts/Roboto-Regular.ttf')
  }

body{
    background-color: #ADBD9E;
    font-family: Roboto-Regular, sans-serif;
    padding: 50px;
}

.MainPage{
    font-family: Roboto-Regular, sans-serif;
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 8px;
    text-decoration: none;
    border-radius: 20px;
    position: relative;
    left: 870px;
}