body{
    margin:0%;
    font-size:18px;
    font-weight:400%;
    line-height:1.5em;
    color: #212529 ;
    background: rgb(195,146,233);
    background: linear-gradient(180deg, rgba(195,146,233,0.7540266106442577) 0%, rgba(255,255,255,1) 100%);
}

.logo{
    width: 50px;
    height: 50px;
}

header{
    font-style: Roboto;
    font-size: 0.8;
}

h{
    font-style:  Montserrat;
    text-align: left;
    padding: 10px 6px 10px 6px;  
}
h1{
 font-size: 1.5;
 text-align: left;
}
h2{
 font-size: 2;
 
}

section{
    height: 1180px;
    width:  1640px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.htmllogo , .csslogo , .jslogo , .githublogo, .ubuntulogo{
    max-height: 20%;
}

.html{
    border: 3px solid#d11ee17f;
    break-inside: avoid;
    border-radius: 24px ;
    background: repeating-linear-gradient(45deg, #FDD5EC 25px, #E7FED6 50px, #F8FFD6 50px);
    width: 530px;
    height: 580px;
    margin: 5px;
    
}
.html:hover{
    box-shadow: 0 10px 12px #8B008B;
}
.css{
    border: 3px solid #d11ee17f;
    break-inside: avoid;
    border-radius: 24px ;
    background: repeating-linear-gradient(45deg, #FDD5EC 25px, #E7FED6 50px, #F8FFD6 50px);
    width: 530px;
    height: 580px;
    margin: 5px;
}
.css:hover{
    box-shadow: 0 10px 12px #8B008B;
}
.js{
    border: 3px solid #d11ee17f;
    break-inside: avoid;
    border-radius: 24px ;
    background: repeating-linear-gradient(45deg, #FDD5EC 25px, #E7FED6 50px, #F8FFD6 50px);
    width: 530px;
    height: 580px;
    margin: 5px;
}
.js:hover{
    box-shadow: 0 10px 12px #8B008B;
}
.github{
    border: 3px solid #d11ee17f;
    break-inside: avoid;
    border-radius: 24px ;
    background: repeating-linear-gradient(45deg, #FDD5EC 25px, #E7FED6 50px, #F8FFD6 50px);
    width: 530px;
    height: 580px;
    margin: 5px;
}
.github:hover{
    box-shadow: 0 10px 12px #8B008B;
}
.ubuntu{
    border: 3px solid #d11ee17f;
    break-inside: avoid;
    border-radius: 24px ;
    background: repeating-linear-gradient(45deg, #FDD5EC 25px, #E7FED6 50px, #F8FFD6 50px);
    width: 530px;
    height: 580px;
    margin: 5px;
}
.ubuntu:hover{
    box-shadow: 0 10px 12px #8B008B;
}

footer{
    text-align: center;
    width:  1640px;
    font-size: 0.7;
    background: rgb(245,206,249);
    background: radial-gradient(circle, rgba(245,206,249,1) 0%, rgba(170,70,252,1) 100%);
}
.pfooter{
    text-align: right;
}
.footerlogo{
    width: 15px;
    height: 15px; 
}
a{
    text-align: center;
}