

body{
    margin:0%;
    font-size:18px;
    font-weight:400%;
    line-height:1.5em;
    color: #212529 ;
    background-color:#DBCEE3;   
}

img{
    width: 50px;
    height: 50px;

}
.logo{
    width: 50px;
    height: 50px;
}

header{
    font-style: Roboto;
    font-size: 0.8;
}

h{
    font-style:  Montserrat;
    text-align: left;
    padding: 10px 6px 10px 6px;  
}
h1{
 font-size: 1.5;
 text-align: left;
}
h2{
 font-size: 2;
 
}

div{
height: 1640;
width:  1180px;
columns: 3;
}
.html{
    border: 3px solid #007055;
    break-inside: avoid;
    border-radius: 20px ;
    
}
.css{
    border: 3px solid #007055;
    break-inside: avoid;
    border-radius: 20px ;
}
.js{
    border: 3px solid #007055;
    break-inside: avoid;
    border-radius: 20px ;
}
.github{
    border: 3px solid #007055;
    break-inside: avoid;
    border-radius: 20px ;
}
.ubuntu{
    border: 3px solid #007055;
    break-inside: avoid;
    border-radius: 20px ;
}
footer{
    text-align: center;
    font-size: 0.7;
    border: 3px solid #92579B;
    break-inside: avoid;
    border-radius: 15px ;
}
.pfooter{
    text-align: right;
}
.footerlogo{
    width: 15px;
    height: 15px; 
}
a{
    text-align: center;
}