@font-face {
    font-family: Roboto-Regular, sans-serif;
    src: url('Fonts/Roboto-Regular.ttf');
  }
  
  @font-face {
    font-family: RobotoMono-Regular, sans-serif;
    src: url('Fonts/RobotoMono-Regular.ttf');
  }
  
  @font-face {
    font-family: Montserrat-Regular, sans-serif;
    src: url('Fonts/Montserrat-Regular.ttf');
  }
  
  @font-face {
    font-family: SFMono-Regular, sans-serif;
    src: url('Fonts/SFMono-Regular.otf');
  }
  
  body{
    margin:0%;
    font-size:18px;
    font-weight:400%;
    line-height:1.5em;
    color: #212529 ;
    background-color: #C6D3E9;
}

.logo{
    width: 50px;
    height: 50px;
}

.head{
    font-style: Roboto-Regular, sans-serif;
    font-size: 0.8;
    border-bottom: solid 3px black ;
    margin: 10px 10px;
}


h1{
    font-family: Montserrat-Regular, sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding; 6px 10px:
}

h2{
    font-family: Montserrat-Regular, sans-serif;
    font-size: 1em;
    text-align: center;
    padding; 6px 10px:
 
}

h3{
    font-family: Montserrat-Regular, sans-serif;
    padding-left: 1.5em;
}

.section{
    height: 850px;
    width:  1180x;
    font-family: Montserrat-Regular, sans-serif ;
    font-size: 1em;
    position: relative;
    left: 200px
}


.html{
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #f71c49 100%);
    border-radius: 24px;
    columns: 3;
    column-count: 3;
    width: 330px;
    height: 380px;
    right: 0;
    bottom: 0;
    transition: 0.7s;
    position: relative;
    margin: 20px;
    
}
.css{
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    border-radius: 24px;
    columns: 3;
    column-count: 3;
    display: inline-block;
    width: 330px;
    height: 380px;
    right: 0;
    bottom: 0;
    transition: 0.7s;
    position: relative;
    margin: 20px;
}

.js{
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    border-radius: 24px;
    columns: 3;
    column-count: 3;
    display: inline-block;
    width: 330px;
    height: 380px;
    right: 0;
    bottom: 0;
    transition: 0.7s;
    position: relative;
    margin: 20px;

}

.github{
    background-color: #000000;
    background-image: linear-gradient(62deg, #000000 0%, #9d9d97 100%);
    border-radius: 24px;
    columns: 3;
    column-count: 3;
    display: inline-block;
    width: 330px;
    height: 380px;
    right: 0;
    bottom: 0;
    transition: 0.7s;
    position: relative;
    margin: 20px;
}

.ubuntu{
    background-color: #FAD961;
    background-image: linear-gradient(180deg, #FAD961 0%, #f71c49 100%);
    border-radius: 24px;
    columns: 3;
    column-count: 3;
    display: inline-block;
    width: 330px;
    height: 380px;
    right: 0;
    bottom: 0;
    transition: 0.7s;
    position: relative;
    margin: 20px;
}


footer{
    text-align: center;
    width:  1640px;
    font-size: 0.7;
    background-color: #74EBD5;
    background-image: linear-gradient(315deg, #74EBD5 0%, #9FACE6 100%);
}
footer:hover{
    
}
    
.pfooter{
    text-align: right;
}
.footerlogo{
    width: 15px;
    height: 15px; 
}
a{
    text-align: center;
}